<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
        <listener class-name="utils.Listeners.TestListener"/>
        <listener class-name="utils.Listeners.AnnotationTransformer"/>
    </listeners>


  <test thread-count="5" name="Test">
    <classes>
      <class name="testCases.UserManagementTestCase"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
